<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <connectionStrings>
    <!--<add name="RHTenekEntities" connectionString="metadata=res://*/DBTenek.csdl|res://*/DBTenek.ssdl|res://*/DBTenek.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARTHA-PC\SQLSERVER;initial catalog=RHTenek;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="RHTenekEntities" connectionString="metadata=res://*/DBTenek.csdl|res://*/DBTenek.ssdl|res://*/DBTenek.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.97.138.113;initial catalog=TenekRH;user id=TenekRH;password=T3n3k12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>